.custom-input{
  border: 1px solid rgb(0, 0, 0);
  height: 17px;
  width: 220px;
  padding: 5px;
  border-radius: 4px;
}
.custom-from{
  margin-top: 7px;
  border: 1px solid rgb(0, 0, 0);
  height: 30px;
  width: 220px;
  padding: 5px;
  border-radius: 4px;
}
.custom-to{
  margin-left: 10px;
  font-size: 20px;
}
.custom-to2{
  margin-top: 7px;
  margin-left: 10px;
  border: 1px solid rgb(0, 0, 0);
  height: 30px;
  width: 220px;
  padding: 5px;
  border-radius: 4px;
}
.custom-adult{
  margin-top: 7px;
    border: 1px solid rgb(0, 0, 0);
    height: 30px;
    width: 300px;
    border-radius: 4px;
    font-size: 16px;
}
.custom-children{
  margin-top: 7px;
    border: 1px solid rgb(0, 0, 0);
    height: 30px;
    width: 300px;
    border-radius: 4px;
    font-size: 16px;
}
.custom-infants{
  margin-top: 7px;
    border: 1px solid rgb(0, 0, 0);
    height: 30px;
    width: 300px;
    border-radius: 4px;
    font-size: 16px;
}
.custom-table{
  width: 100%;
  display: table;
  margin: 0;
  text-align: center;
  background: #f8b568;
}
.row-header{
    color: #000000;
    background: #ec832de3;
}
.Departure{
  font-size: 20px;
}
  .date-start{
    margin-top: 7px;
    border: 1px solid rgb(0, 0, 0);
    height: 30px;
    width: 300px;
    border-radius: 4px;
    font-size: 16px;
  }
.Arrival{
  font-size: 20px;
}
.date-end{
  margin-top: 7px;
    border: 1px solid rgb(0, 0, 0);
    height: 30px;
    width: 300px;
    border-radius: 4px;
    font-size: 16px;
}
.custom-button{
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f6d483;
}
.group{
  display: flex;
}
.space{
  margin-left: 10px;
}
.custom-from-select{
  display: flex;
  flex-direction: inherit;
}
.custom-spanfrom{
  margin-left: 20px;
}
.custom-text{
  font-size: 20px;
}
.custom-sumbit{
  margin-top: 10px;
  height: 30px;
  width: 300px;
}
.registartion-form{
  justify-content: center;
  align-items: center;
  width: 500px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: sans-serif;
  background-color: #ecc17b;
  padding: 20px;
}
