<div class="container">
  <h1 class="HeadFont">Book Flight</h1>
  <form class="registartion-form" [formGroup]="flightForm" (ngSubmit)="date">
      <div class="group">
          <label style="font-size: 20px;" for="fullName">Full Name : </label>
          <span class="space"></span>
          <input class="custom-input" formControlName="FlightName"/>
          <span style="color: red;" *ngIf="flightForm.get('FlightName')?.errors?.['required']"> Name required </span>
      </div>
      <div class="custom-from-select">
        <div>
          <label class="custom-text">From </label>
          <select class="custom-from" formControlName="FlightFrom">
                <option value='null' disabled>Choose Country</option>
                <option value="Thailand">Thailand</option>
                <option value="Singapore">Singapore</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Laos">Laos</option>
                <option value="Brunei">Brunei</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Myanmar">Myanmar</option>
                <option value="Phillippines">Phillippines</option>
                <option value="Korea">Korea</option>
                <option value="Japan">Japan</option>

              </select><br>
              <span style="color: red;" *ngIf="flightForm.get('FlightFrom')?.errors?.['required']">Plase select country</span>
        </div>
        <div>
          <label class="custom-to">To </label>
          <select class="custom-to2" formControlName="FlightTo">
                <option value='null' disabled>Choose Country</option>
                <option value="Thailand">Thailand</option>
                <option value="Singapore">Singapore</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Laos">Laos</option>
                <option value="Brunei">Brunei</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Myanmar">Myanmar</option>
                <option value="Phillippines">Phillippines</option>
                <option value="Korea">Korea</option>
                <option value="Japan">Japan</option>

              </select><br>
              <span style="color: red; margin-left: 10px;" *ngIf="date && flightForm.get('FlightTo')?.errors?.['required']">Plase select country</span>
        </div>
      </div>




      <div>
        <label style="font-size: 20px;">Trip Type</label><br>
        <div style="font-size: 20px;">
          <input class="custom-oneway" type="radio" name="FlightType" formControlName="FlightType" value="One Way">One Way<br>
          <input class="custom-return" type="radio" name="FlightType" formControlName="FlightType" value="Return" >Return<br>
          <span style="color: red;" *ngIf="flightForm.get('FlightType')?.errors?.['required']">Plase select type</span>
        </div>

      </div>
      <div class="custom-date">
        <label class="Departure">Departure</label><br>
              <input class="date-start" type="date" formControlName="FlightDepart">
              <span style="color: red;" *ngIf="flightForm.get('FlightDepart')?.errors?.['required']">Plase select date</span>
              <br><br><label class="Arrival">Arrival</label><br>
              <input class="date-end" type="date" formControlName="FlightArrival">
              <span style="color: red;" *ngIf="flightForm.get('FlightArrival')?.errors?.['required']">Plase select date</span>
              <br><span style="color: red;" *ngIf="flightForm.errors">{{ flightForm.errors?.['dates'] | json}}</span>
      </div><br>
      <div class="ACI">
        <label class="A">Adults</label><br>
            <input class="custom-adult" type="number" formControlName="FlightAdult">
            <span style="color: red;" *ngIf="flightForm.get('FlightAdult')?.errors?.['required']">Plase select number</span>
            <span style="color: red;" *ngIf="flightForm.get('FlightAdult')?.errors?.['min']">Invalid</span><br>

            <br><label class="C">Children</label><br>
            <input class="custom-children" type="number" formControlName="FlightChildren">
            <span style="color: red;" *ngIf="flightForm.get('FlightChildren')?.errors?.['required']">Plase select number</span>
            <span style="color: red;" *ngIf=" flightForm.get('FlightChildren')?.errors?.['min']">Invalid</span><br>

            <br><label class="I">Infants</label><br>
            <input class="custom-infants" type="number" formControlName="FlightInfants">
            <span style="color: red;" *ngIf="flightForm.get('FlightInfants')?.errors?.['required']">Plase select number</span>
            <span style="color: red;" *ngIf="flightForm.get('FlightInfants')?.errors?.['min']">Invalid</span>
      </div>
      <div class="custom-button">
        <button class="custom-sumbit" type="submit" [disabled]="flightForm.invalid" (click)="onSubmitForm(flightForm)" >Submit</button>
      </div>
  </form>
</div>

<table class="custom-table">
  <thead class="row-header">
    <tr>
      <th>Full Name</th><th>From</th><th>To</th><th>Trip Type</th><th>Departure</th><th>Arrival</th><th>Adults</th><th>Children</th><th>Infants</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of flights">
    <td>{{f.fullName}}</td>
    <td>{{f.from}}</td>
    <td>{{f.to}}</td>
    <td>{{f.type}}</td>
    <td>{{f.departure}}</td>
    <td>{{f.arrival }}</td>
    <td>{{f.adults}}</td>
    <td>{{f.children}}</td>
    <td>{{f.infants}}</td>
    </tr>
  </tbody>
</table>
